* {
    
    margin: 0;
    padding: 0;
    
}


body {
    
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    background: #E5E5E5;
}


main {

    position: relative;
    width: 1340px;
    height: 100%;
}

.page {

    margin: 40px 40px 40px 140px ;
    
}

.conteiner {

    display: flex;
    justify-content: space-between;
}

.conteiner .input {
    
    width: 760px;
    height: 669px;

}

p {
   
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;

    position: absolute;
    left: 190px;
    bottom: 180px;
}

#input-text {

    text-transform:lowercase;

    margin-top: 80px;
    margin-left: 124px;
    margin-bottom: 635px;
    width: 648px;

    
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    

    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    
}

#output-text {
    
    height: 944px;
    text-align: center;

    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    overflow: auto;
    
}

.hackerXD {

    width: 400px;
    height: 340px;

    margin-top: 240px;
    margin-bottom: 56px;
}

h2 {

    margin-bottom: 16px;

    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

span {

    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #495057;

    margin-bottom: 243px;
}

.button {

    position: absolute;
    bottom: 72px ;
    left: 180px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    
}

.criptografar, .descriptografar {
    
     
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;    
    cursor: pointer;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.descriptografar {

    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #474e56;


}

.btn-copiar {

    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;    
    cursor: pointer;
    color: #FFFFFF;

}
